.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;
}
.modal {
    position: absolute;
    width: 100%;
    max-width: 450px;
    max-height: 609px;
    background-color: var(--btn-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
    @media screen and (min-width: 1200px) {
        min-width: 528px;
        min-height: 581px;
    }
}
.modal__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    @include align-list;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--btn-color);
    border:  1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
         fill: var(--accent-color);
    }
}   
.modal__text {
    text-align: center;
    @include font($fs: 20px, $fw: 700, $lh: 1.50, $ls:0.03em);
    color: var(--title-color);
    margin-bottom: 12px;
    @media screen and (min-width: 1200px) {
        @include font($fs: 20px, $fw: 700, $lh: 1.15, $ls:0.03em);
    }
}
.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.form-field__label {
    color: var(--header-color);
    @include font($fs: 12px, $fw: 400, $lh: 1.17, $ls:0.01em);
    margin-bottom: 4px;
}
.form-field__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border-color: var(--accent-color);
        & ~ .form-field__icon {
            fill: var(--accent-color);
        }
    }  
}
.form-field__icon {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 12px;
    outline: none;
    fill: var(--title-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    padding-left: 16px;
    padding-top: 12px;
    margin-top: 4px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border-color: var(--accent-color);
    }
    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
        @include font($fs: 14px, $fw: 400, $lh: 1.14, $ls:0.01em);
        @media screen and (min-width: 1200px) {
            @include font($fs: 12px, $fw: 400, $lh: 1.17, $ls:0.01em);
        }
    }
}
.checkbox {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.checkbox__label {
    color: var(--header-color);
    @include align-list;
    @include font($fs: 12px, $fw: 400, $lh: 1.17, $ls:0.03em);
    @media screen and (min-width: 1200px) {
        @include font($lh: 1.71);
    }
}
.checkbox__wrap {
    position: relative;
    @include align-list;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-color);
    border-radius: 2px;
    justify-content: center;
    margin-right: 8.38px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.checkbox__icon {
    position: absolute;
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__link {
    text-decoration-line: underline;
    color: var(--accent-color);
    margin-left: 2px;
    @include font($fs: 12px, $fw: 400, $lh: 1.17, $ls:0.03em);
    @media screen and (min-width: 1200px) {
        @include font($lh: 1.71);
    }
}
.checkbox__checked {
    &:checked + .checkbox__label .checkbox__wrap {
    background-color: var(--accent-color);
    border: none;
    }
    &:checked + .checkbox__label .checkbox__icon {
    fill: var(--btn-color);
    }
}
.checkbox__btn {
    text-align: center;  
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        background-color: #188CE8;
    }
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.2);
}