.logo {
    font-family: "Raleway", "sans-serif";
    color: var(--accent-color);
    @include font($fs: 26px, $fw: 400, $lh: 1.19, $ls: 0.03em);
}
.logo__header {
    @media screen and (min-width: 768px) {
        margin-right: 88px;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }
}
.logo__header__dark {
    color: #000000;
}
.logo__footer--dark {
    color: var(--btn-color);
}